fastapi==0.111.2
uvicorn==0.25.0
pydantic==2.6.0
python-multipart==0.0.6
shutilwhich==1.1.0
langchain==0.1.0
langchain-huggingface==0.0.9
langchain-community==0.0.18
faiss-cpu==1.7.4
sentence-transformers==2.2.2
ollama==0.0.2